<div class="col-md-6">
  <h1>On The Menu<i>!</i></h1>
  <table class="table table-dark table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Burger Name</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
        {{#each burgers}}
          {{#unless devoured}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{ burger_name }}</td>
            <td>
              <button type="button" title="Order Burger" data-id="{{id}}" class="btn btn-link change-devour"><i class="fas fa-shopping-bag"></i></button>
              <button type="button" title="Delete Burger" data-id="{{id}}" class="btn btn-link delete"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
          {{/unless}}
        {{/each}}
    </tbody>
  </table>
</div>
<div class="col-md-6">
  <h1>Ordered Burgers<i>!</i></h1>
  <table class="table table-dark table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Burger Name</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
        {{#each burgers}}
          {{#if devoured}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{ burger_name }}</td>
            <td>
              <button type="button" title="Remove From Order" data-id="{{id}}" class="btn btn-link un-devour"><i class="fas fa-minus"></i></button>
              <button type="button" title="Delete Burger" data-id="{{id}}" class="btn btn-link delete"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
          {{/if}}
        {{/each}}
    </tbody>
  </table>
</div>